* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /*font-weight: 400;*/
  font-family: Merriweather, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.58;
  color: #2cf5ff;
}

.material-icons.md-48 { font-size: 48px; }

body:before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #263842;
  content: '';
  z-index: 0;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
#titel {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-top: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.7em;
}

a {
  color: #10777e;
}

button {
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 14px;
  outline: none;
  line-height: 100%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 38px;
}

button.primary {
  background-color: #10777e;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}

input {
  font-size: 1rem;
}

input[type='file'] {
  border: 1px solid #128ff2;
  border-radius: 4px;
  color: #949494;;
  padding: 9px;
  max-width: 100%;
  float: left;

}

.file-input {
  width: 100%;
}

.submit-btn {
  display: block;
  padding-top: 10px;
  min-width: 100px;
}


@media screen and (min-width: 500px) {
  .file-input {
    width: calc(100% - 115px);
  }

  .submit-btn {
    display: inline-block;
    padding-top: 10px;
    margin-left: 5px;
  }
}

.upload-container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1f20;
  border-radius: 0.35em;
  margin-top: 20vh;
  min-height: 400px;
  position: relative;
  padding: 20px;

  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.upload-header {
  border-bottom: 1px solid #ececec;
}

.upload-header h2 {
  font-weight: 500;
}
.progress{
  float: bottom;
}
.single-upload {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}


