<div class="container">
  <app-header></app-header>
 <!-- <app-homepage></app-homepage>
  <app-footer></app-footer>-->
  <main>
    <!-- [...] -->
    <router-outlet></router-outlet>
  </main>
</div>
<!--  <mat-sidenav-container>-->
<!--    <mat-sidenav #sidenav role="navigation">-->
<!--      &lt;!&ndash;this is a place for us to add side-nav code&ndash;&gt;-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content>-->
<!--      &lt;!&ndash;in here all the content must reside. We will add a navigation header as well&ndash;&gt;-->
<!--      <main>-->
<!--        <router-outlet></router-outlet>-->
<!--      </main>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->




