<!--<mat-sidenav #sidenav role="navigation">
  <app-nav (sidenavClose)="sidenav.close()"></app-nav>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/home">
        <img class="logo" src="../../assets/images/ShareDoc_Logo_b.png" width="150px">
      </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <a routerLink="/uploadDisplay">Document</a>
          <a routerLink="/upload">Upload</a>
          <a routerLink="/login">Login</a>
          <a routerLink="/register">Register</a>
          <a routerLink="/pinboard">Pinboard</a>
      </ul>
    </div>
  </mat-toolbar>-->

<header>
  <div class="tagline">
    <h1>Share And Find <br/> Your Document In Minutes</h1>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolorum esse, aut, suscipit ratione at aspernatur fugiat, non voluptatem nulla sit natus nobis architecto. Ratione ad deleniti totam accusamus pariatur?</p>
    <div>
     <br>
      <a href="#" class="button">Login Now</a>
    </div>

  </div>

  <img src="../../../assets/images/siencetist.png" />
  <!--<div class="overlay"></div>-->
</header>
