/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

body * {
  transition: all 0.400s ease-in-out;
}

.bgimg {
  display:block;
  width:100%;
  height:100%;
  background: url('assets/images/background2.jpg') no-repeat center center fixed;
}

h1, h2, h3, h4 {
  font-family: Merriweather ,Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding: 0;
  width: 100%;
  /*max-width: 1500px;*/
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 18px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 18px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 18px -7px rgba(0,0,0,0.75);
  background: #fff;
  color:#111;
}
/*
===================
  Menu Bar
 ==================
 */
nav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: relative;
  width: 100%;
  z-index: 99;
  align-items: center;

}
nav ul:first-of-type {
  margin-top: 10px ;
  padding-left: 50vw;
}



nav ul:first-of-type li:first-of-type a {
  color: #eee;
  font-weight: bold;
  font-size: 1.4rem;

}
nav ul:last-of-type {
  text-align: right;
  padding-right: 20px;
}

.medium-nav {
  text-align: right;
}


nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
nav ul li a{
  color: #2cf5ff;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
nav ul:last-of-type li:last-of-type a {
  background: #10777e;
  padding: 4px 20px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

/*
===========================
        HEADER
===========================
 */
header {
  background: url("assets/images/header-bg.jpg") ;
  background-position: center center;
  background-size: 100% ;
  background-size: cover;
  position: relative;
  color: #fff;

}

header .tagline {
  padding-top: 120px;
  position: relative;
  z-index: 2;
  padding-left: 20px;
}

header .tagline h1 {
  font-family: Merriweather;
  font-weight: bold;
  padding-top: 10%;
  font-size: 5rem;
  line-height: 5rem;
}

header .tagline p {
  width: 40%;
  font-size: 18px;
}
header .tagline a {
  font-weight:bold;
}


.button, .shareNow {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  width: 150px;
  height: auto;

}
.button {
  background: #1f303a;
  text-decoration:none;
  color: #fff;
}

.shareNow {
  color:#fff;
}

header img {
  top: 30%;
  left: 45%;
  position: absolute;
  width: 50%;
  right: 10%;
  display: block;
  z-index: 9;
}

.overlay {
  width: 100%;
  height: 700px;
  background: #1f303a;
  position: absolute;
  top: 0;
  opacity: 0.7;
  z-index: 1;
}

/*
=========================
      HOMEPAGE
=========================
 */
main {
  margin-top: 10%;
  padding:0px;

}
main div h3, main div div h3 {
  font-size: 4rem;
  font-weight: bold;
}
@media(min-width: 760px) {
  main div.multi-section-two img  {
    margin-left: 100px;
  }
}

main div.intro, main div.multi-section,  main div.multi-section-two {
  margin:0px auto;
  padding: 100px;
}

main div.intro {
  width: 50%;
  text-align: center;
}
div.multi-section, div.multi-section-two {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  background: rgba(31, 48, 58, 0.09);
}
div.multi-section img, div.multi-section-two img{
  width: 80%;
}
.a {
  grid-area: a;
}
.b{
  grid-area: b;
}
div.multi-section-two {
  grid-template-areas: "b a";

}
main div:last-of-type{
  text-align: center;
}

/*
======================
      FOOTER
=======================
 */
footer {
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
}
footer ul {
  padding: 10px;
  width: 40%;
  list-style-type:none;
}
footer ul li {
  margin: 10px;
}
footer ul li a {
  color: #111;
  text-decoration: none;
}
footer ul li:first-of-type {
  font-weight: bold;
  color: #ddd;
}

/*------------------------- MEDIA QUERIES ---------------------------*/

@media (max-width:1300px) and (min-width:1000px) {
  nav {
    grid-template-columns: 1fr 2fr 1fr;

  }
  header {
    height: 600px;
  }

  header .tagline {
    padding-top: 50px;
  }

  header img {
    top: 420px;
    position: absolute;
    width: 600px;
  }
  .overlay {
    height: 600px;

  }
  main div.intro {
    width: 80%;
  }
  main div.intro, main div.multi-section,  main div.multi-section-two {
    padding: 10px;
    margin: 40px auto;
  }
  main {
    margin-top: 150px;
  }
}



@media (max-width:999px) and (min-width:750px) {
  nav {
    grid-template-columns: 1fr 1fr;

    width: 100%;
  }

  header .tagline {
    padding-top: 0px;
  }
  .medium-nav {
    display: none;
  }
  header {
    height: 450px;

  }
  header .tagline h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  header .tagline p {
    width: 60%;
  }
  .overlay {
    height: 450px;

  }
  header img {
    top: 200px;
    position: absolute;
    width: 65%;
  }

  main div.intro {
    width: 80%;
  }
  main div.intro, main div.multi-section,  main div.multi-section-two {
    padding: 10px;
    margin: 50px auto;
  }
  main {
    margin-top: 250px;
  }

  div.multi-section, div.multi-section-two {
    display: block;

  }

  div.multi-section img, div.multi-section-two img{
    width: 40%;
    margin: 0px auto;
    display: block;
  }

}

@media (max-width:749px) and (min-width:600px) {
  nav {

    grid-template-columns: 1fr 1fr;
    width: 100%;

  }

  header .tagline {
    padding-top: 0px;
  }
  .medium-nav {
    display: none;
  }
  header {
    height: 250px;

  }
  header .tagline h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  header .tagline p {
    display: none;
  }
  .overlay {
    height: 250px;

  }
  header img {
    top: 200px;
    position: absolute;
    width: 300px;

  }

  main div.intro {
    width: 80%;
  }
  main div.intro, main div.multi-section,  main div.multi-section-two {
    padding: 10px;
    margin: 50px auto;
  }
  main {
    margin-top: 250px;
  }

  div.multi-section, div.multi-section-two {
    display: block;

  }

  div.multi-section img, div.multi-section-two img{
    width: 40%;
    margin: 0px auto;
    display: block;
  }
  footer {
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
  }
}


@media (max-width:599px) and (min-width:320px) {
  nav {
    grid-template-columns: 1fr 1fr;
    width: 100%;

  }
  .medium-nav {
    display: none;
  }
  nav ul:last-of-type{
    display: none;
  }

  header .tagline {
    padding-top: 0px;
  }

  header {
    height: 350px;
    background-size: 200%;
  }
  header .tagline h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  header .tagline p {
    display: none;
  }

  .overlay {
    height: 350px;
  }
  header img {
    top: 200px;
    position: absolute;
    width: 300px;
    right: 5%;

  }

  main div.intro {
    width: 80%;
  }
  main div.intro, main div.multi-section,  main div.multi-section-two {
    padding: 10px;
    margin: 50px auto;
  }
  main {
    margin-top: 200px;
  }

  div.multi-section, div.multi-section-two {
    display: block;

  }

  div.multi-section img, div.multi-section-two img{
    width: 70%;
    margin: 0px auto;
    display: block;
  }

  footer {

    grid-template-columns: 1fr;
    text-align: center;
    padding: 0;

  }
}
