<app-header></app-header>
<main>
<div class="intro">
    <h3> Create a Community for all the student</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.
    </p>
  </div>
  <div class="multi-section">
    <img src="../../assets/images/hero-banner.png" />
    <div>
      <h3>Why You Should Join Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
    </div>
  </div>
  <div class="multi-section-two">
    <img class="a" src="../../assets/images/computerShare.png" />
    <div class="b">
      <h3>Quickly Find Your Document</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
    </div>
  </div>

  <div>
    <h3>Ready to share to your friend ? </h3>
    <a routerLink="/upload" class="button">Upload Now </a>
  </div>
</main>
<app-footer></app-footer>
