.dropdown {
  padding: 15px;
}

/* You can add global styles to this file, and also import other style files */
/*@import url(~node_modules/bootstrap/dist/css/bootstrap.min.css);*/
@import url(~node_modules/font-awesome/css/font-awesome.css);

html,
body {
  height: 100%;
  color: #10777e !important;
}

body {
  background-image: url('/assets/images/background2.jpg');
  background-size: 100% 100%;
  font-family: Merriweather, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.58;
  color: #2cf5ff;
}
select {
  padding: 8px;
  margin-left: 10px;
}
option {
  height: 20px;
  margin: auto;
  line-height: normal;
  padding: 20px;
}
button {
  background-color: #10777e !important;
  border-color: #10777e !important;
  color: white;
  padding-top: 10px !important;
  padding: auto;
}

list-group-item {
  cursor: pointer;
}

input-label {
  background: #10777e;
  border: none;
  cursor: pointer;
}

input-label-lg {
  background: #2cf5ff;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

button {
  background: #10777e;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  width: 200px;
  height: auto;
  border-color: #10777e !important;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.docs {
  margin: 2em 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.doc {
  padding: 0 1em 1em 1em;
  -webkit-border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.12, 0.8, 0.12, 1);
}

.doc:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.22);
}
